

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.section {
  padding: 6rem 0;
}


.page-container {
  padding-top: 120px;
}


@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-inline: 1rem;
  }

  .section {
    padding: 3rem 0;
  }

  .page-container {
    padding-top: 80px;
  }
}
