@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/theme.css";
@import "../styles/layout.css";
@import "../styles/components.css";
@import "../styles/utilities.css";
@import "../styles/auth.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
  line-height: 1.6;
}
